/* -------Font Style---------- */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

/* --------Common style------------ */
body {
    font-family: 'Work Sans', sans-serif;
}

.header {
    padding: 50px 240px 45px 230px;
    background: rgba(255, 144, 14, 0.1);
}

/* Navigation Style */
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.navigation h3 {
    font-size: 45px;
    color: #131313;
    margin: 0;
}

.navigation a {
    text-decoration: none;
    font-size: 18px;
    color: #424242;
    margin: 0;
    padding-left: 30px;
}

/* ------Banner Style---------- */
.banner {
    text-align: center;
    margin-top: 100px;

}

.banner h2 {
    font-size: 64px;
    color: #131313;
}

.banner p {
    font-size: 16px;
    color: #727272;
    margin-bottom: 32px;

}

.primary-btn {
    width: 180px;
    height: 64px;
    font-size: 20px;
    color: #FFFFFF;
    background: #FF900E;
    border-radius: 5px;
    border: 0;

    margin-bottom: 50px;
}

.banner img {
    border-radius: 8px;
}

/* -----------main style----------- */
.features {
    display: flex;
    align-items: center;
}

.image {
    display: grid;
    grid-template-columns: repeat(2, 343px);
    margin: 85px 73px 130px 280px;
    grid-row-gap: 24px;
    grid-column-gap: 24px;
    border-radius: 8px;
}

.description {
    margin-top: 85px;
    margin-right: 280px;

}

.description h2 {
    font-size: 45px;
    color: #727272;
}

.primary-text {
    color: #131313;
    font-weight: 700;
}

.last-text {
    color: #FF900E;
    font-weight: 700;
}

.description p {
    font-size: 16px;
    color: #727272;
}

/* -------Love & Enjoy Style---------- */
.love-and-enjoy {
    display: flex;
    column-gap: 146px;
    margin: 0 240px 0 240px;
    align-items: center;

}

.love-description {}

.fast-title {
    font-size: 45px;
    color: #131313;
}

.fast-title h2 {
    margin-top: 0;
}

.fast-description {
    color: #727272;
    font-size: 16px;
}

.second-title {
    font-size: 20px;
    color: #131313;
}

.second-title h3 {
    margin: 0;
}

.second-description {
    color: #727272;
    font-size: 16px;
}

.block-description {
    width: 586px;
}

.block-descript {
    width: 586px;
    height: auto;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    padding: 30px;
    column-gap: 20px;
}

.love-img {
    position: relative;
}

.love-img button {
    position: absolute;
    top: 90%;
    left: 0%;
    transform: translate(-20%, -20%);
    -ms-transform: translate(-50%, -50%);
}

.secondary-btn {
    background: #FF900E;
    color: #FFFFFF;
    border-radius: 8px;
    width: 342px;
    height: 200px;
    border: 0;
    padding: 0;
}

.secondary-btn h2 {
    font-size: 65px;
    margin: 0;
}

.secondary-btn h4 {
    font-size: 25px;
    margin: 0;
}

/* --------------fact style------------ */
.fact {
    margin: 130px 240px 0 240px;
}

.fact-description {
    margin-bottom: 100px;
}

.fact-description h3 {
    font-size: 45px;
    color: #131313;
    margin-bottom: 24px;
}

.fact-description p {
    font-size: 16px;
    color: #727272;
    margin-bottom: 100px;
}

.fact-icons {
    display: flex;
    justify-content: space-around;
    text-align: center;

}

.icon {
    border: 1px solid #FF900E;
    border-radius: 8px;
    padding: 45px 36px;
}

.icon h3 {
    font-size: 45px;
    color: #424242;
    margin-top: 10px;
    margin-bottom: 0;
}

.icon p {
    font-size: 20px;
    color: #727272;
    margin: 10;
}

/* ------------Sponspors Style----------- */
.sponspors {
    margin: 180px 240px 130px 240px;
    text-align: center;
}

.sponspors h2 {
    font-size: 45px;
    color: #131313;
    margin: 0;
}

.sponspors p {
    font-size: 16px;
    color: #727272;
    margin-top: 24px;
}

.sponspors-logos {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.copyright {
    margin: 0 auto 216px auto;
    font-size: 20px;
    color: #424242;
    width: 1440px;
    height: 100px;
    background: #FFF4E7;
    border-radius: 8px;
    text-align: center;
    padding-top: 38px;
}